h1 {
    display:flex;
    align-items: center;
    font-size: 15px ;
    justify-content: center;
    

}
ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

li {
    border: 2px dotted;
    padding: .2em;
    margin: 0 .5em;
    flex: 1 1 25%;
}